<div id="mapid"></div>
<div id="infobar">
  <div id="buttons">
    <ul>
      <li>
        <a (click)="goToPoligonOne()">Go to Poligon in London</a>
      </li>
      <li>
        <a  (click)="goToPoligonTwo()">Go to Poligon in Ushuaia</a>
      </li>
      <li>
        <a (click)="goToPoligonThree()">Go to Poligon in Baku</a>
      </li>
      <li>
        <a (click)="goToPoligonFour()">Go to Poligon in Sao Paulo</a>
      </li>
      <li>
        <a  (click)="goToPoligonFive()">Go to Poligon on Ecuador</a>
      </li>
    </ul>
  </div>
  <div id="polyInfo">
    <div id="selected" ></div>
  </div>
  <div id="newPolyBar">
    <textarea id="dPoly"></textarea>
  </div>
  <div id="showButton">
    <button id="show" (click)="showFunc(polygons)">show</button>
    <button id="removePolygon" (click)="removePolygon()">Remove</button>
  </div>
</div>
