<div id="mapid"></div>
<div id="infobar">
  <div id="buttons">
    <ul>
      <li>
        <a (click)="mapService.goToPolygon(0)">Go to Poligon in London</a>
      </li>
      <li>
        <a  (click)="mapService.goToPolygon(1)">Go to Poligon in Ushuaia</a>
      </li>
      <li>
        <a (click)="mapService.goToPolygon(2)">Go to Poligon in Baku</a>
      </li>
      <li>
        <a (click)="mapService.goToPolygon(3)">Go to Poligon in Sao Paulo</a>
      </li>
      <li>
        <a  (click)="mapService.goToPolygon(4)">Go to Poligon on Ecuador</a>
      </li>
    </ul>
  </div>
  <div id="polygonsInfo">
    <div id="selected" >{{mapService.selectedPolygon}}</div>
  </div>
  <div id="perimetersContainer">
    <textarea id="perimeter" [(ngModel)]="perimeter"></textarea>
  </div>
  <div id="perimetersBtn">
    <button id="addPerimeter" (click)="mapService.addPerimeter(perimeter)">show</button>
    <button id="removePerimeter" (click)="mapService.removePerimeter()">Remove</button>
  </div>
</div>
